<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <img class="signup-logo" src="css/Amazon_logo.svg" alt="logo">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">⚠️ERROR⚠️</h1>
      <p class="secret-text">Email already exists. Try logging in</p> <br>
      <a style="height: 50px;" class="btn btn-light btn-lg" href="/" role="button">back to login</a>

    </div>
  </div>

  <%- include('partials/footer') %>